N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin

N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http

WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=Asia/Bangkok

export GENIE_API_KEY=
export GENIE_APP_ID=
export GENIE_MODEL="gemini-2.5-flash"
export GOOGLE_GENAI_API_KEY=
export GOOGLE_GENAI_MODEL="gemini-2.5-flash-image"
export AWS_S3_BUCKET=
export AWS_S3_REGION=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export DEFAULT_TTS_MODEL=kokoro # can be "kokoro" or "gemini"